<%  
	if(typeof(checkedTask) == typeof(undefined)){
		checkedTask = [];
	}
	checkedTask = 	checkedTask
					.map(function(task){
						return task.task.id
					});
%>



<div id="<%= id %>" class="taskSelectorWrapper">
	<select multiple="multiple" name="task">
		<% element.task.map(function(task){%>
			<option value="<%= task.id %>" name="<%= task.name.toLowerCase() %>" ><%= task.name %></option>
		<%})%>
	</select>
</div>

<script type="text/javascript">
	var checkedTask = JSON.parse('<%=JSON.stringify(checkedTask) %>');

	$("#<%= id %> select[name='task']").multiselect({
		buttonWidth: '100%', 
		includeSelectAllOption: true,
		allSelectedText: 'Toutes les tâches',
		selectAllText : "Toutes les tâches",
		nonSelectedText : "Aucune tâche"
	})
	.multiselect('select', checkedTask);
</script>
