<%
	var id = req.session.location.controller + "-" + req.session.location.action;
%>

<div class="container">
	<div id="<%= id %>" class="table-list table-responsive">
		<h3>Liste de matériel</h3>

		<hr/>
		
		<div class="row">
			<div class="col-sm-12">
				<div class="btn-group">
					<a href="/<%= req.session.location.controller %>/new" class="btn btn-primary new" type="button">Créé un matériel</a>
				</div>
			</div>
		</div>

		<hr/>

		<section></section>
	</div>
</div>

<script type="text/javascript">
	
	var  documentLoaded = function (){
		$("section").append(JST["assets/templates/list.ejs"]({
			role : <%= req.session.worker.role %>,
			table : {
				head : [{
					name : "id",
					label : "Id"
				},{
					name : "name",
					label : "Name"
				}],
				body : [
				<% materials && materials.map(function(row){ %>
					{
						id : "<%= row.id %>",
						data : 
						[
							{
								name : "id",
								value : "<%= row.id %>"
							},
							{
								name : "name",
								value : "<%= row.name %>"
							}
						]
					},
				<% }) %>
				],
			},
			parentSelector : "table.table",
			sort : "<%= sort %>",
			controller : "<%= req.session.location.controller %>",
			_csrf : "<%= _csrf %>"
 		}));

	};

	window.addEventListener("load", documentLoaded);
	<% if(false === res.locals.layout){ %>
		documentLoaded();
	<% } %>
</script>