<%
	var id = req.session.location.controller + "-" + req.session.location.action;
%>

<div class="container">
	<div id="<%= id %>" class="table-list table-responsive">
		<h3>Liste de magasins</h3>

		<hr/>
		
		<div class="row">
			<div class="col-sm-2">
				<a href="/<%= req.session.location.controller %>/new" class="btn btn-primary new" type="button">
					Créé un magasin
				</a>
			</div>
			<div class="col-sm-3">
				<div class="input-group">
						<a class="input-group-addon btn btn-info bg-default"><i class="fa fa-filter"></i></a>
						<input type="text" class="form-control findByName" placeholder="Rechercher un magasin" />		
					</div>
			</div>
		</div>

		<hr/>

		<table class="table" data-db-table-name="<%= req.session.location.controller %>" ></table>
	</div>
</div>

<script type="text/javascript">
	
	var  documentLoaded = function (){
		var table = $("#<%= id %> table[data-db-table-name='<%= req.session.location.controller %>']");
		table.append(JST["assets/templates/list.ejs"]({
			table : {
				head : [{
					name : "brand",
					label : "Enseigne"
				},
				{
					name : "name",
					label : "Nom"
				},
				{
					name : "createdAt",
					label : "Date de création"
				}],
				body : [
				<% shops.map(function(row){ %>
					{
						id : "<%= row.id %>",
						data : 
						[
							{
								name : "brand",
								value : "<%= row.brand %>"
							},
							{
								name : "name",
								value : "<%= row.name %>"
							},
							{
								name : "createdAt",
								value : "<% var date = new Date(row.createdAt); %> <%= date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() %>"
							}
						]
					},
				<% }) %>
				],
			},
			parentSelector : table.selector,
			sort : "<%= sort %>",
			controller : "<%= req.session.location.controller %>",
			_csrf : "<%= _csrf %>"
 		}));

		BUREAU.tools.table.filter($("#<%= id %> table"), $("#<%= id %> .findByName"), ["name", "brand"]);
 		
	};

	window.addEventListener("load", documentLoaded);
	<% if(false === res.locals.layout){ %>
		documentLoaded();
	<% } %>
</script>