<%
	var id = req.session.location.controller + "-" + req.session.location.action;

	if("undefined" == typeof(shop)){
		var shop = {};
	}

%>

<div class="container">
	<div id="<%= id %>">
		<h3>Créer un magasins</h3>

		<hr/>

	</div>
</div>




<script type="text/javascript">
	var  documentLoaded = function (){

		$("#<%= id %>").append(JST["assets/templates/forms/shop.ejs"]({
			role : <%= req.session.worker.role %>,
			_csrf : "<%= _csrf %>",
			shop : JSON.parse("<%- JSON.stringify(shop) %>"),
			method : "POST",
			action : "/shop/create/"
		}));

	};

	window.addEventListener("load", documentLoaded);
	<% if(false === res.locals.layout){ %>
		documentLoaded();
	<% } %>
</script>