<%
	var id = req.session.location.controller + "-" + req.session.location.action;
%>

<div class="container">
	<div id="<%= id %>" class="table-list table-responsive">
		<h3>Liste de travaux</h3>

		<hr/>
		
		<div class="row">
			<div class="col-sm-12">
				<div class="btn-group">
					<a href="/<%= req.session.location.controller %>/new" class="btn btn-primary new" type="button">Créé un travail</a>
				</div>
				<div class="btn-group">
					<button class="btn btn-default calendar" type="button">Calendrier</button>
				</div>
			</div>
		</div>

		<hr/>

		<section></section>

	</div>
</div>

<script type="text/javascript">
	
	var  documentLoaded = function (){

		io.socket.get('/work');
		// When a socket message about a user is received, display it
		io.socket.on('work', function(data) {
			console.log(data);
		});

		var section = $("section");
		var initList = function(){

			$("button.calendar")
			.text("calendrier")
			.one("click", initCalendar);

			section.html(JST["assets/templates/list.ejs"]({
				table : {
					head : [{
						name : "type",
						label : "Type"
					},{
						name : "brand",
						label : "Enseigne"
					},
					{
						name : "name",
						label : "Instruction"
					},
					{
						name : "rendezvous",
						label : "Rendez-vous"
					},
					{
						name : "deadLine",
						label : "Echéhance"
					}],
					body : [
					<% works && works.map(function(row){ %>
						{
							id : "<%= row.id %>",
							data : 
							[
								{
									name : "type",
									value : "<%= row.type.name %>"
								},
								{
									name : "brand",
									value : "<%= row.shop.brand %>"
								},
								{
									name : "name",
									value : _("<%= row.wiki[0] && row.wiki[0].description %>").chain().unescapeHTML().stripTags().truncate(25).value()
								},
								{
									name : "rendezvous",
									value : <% if(row.rendezvous){%>moment(new Date("<%= row.rendezvous %>")).format("<%= sails.config.appconfig.format.datetime %>")<%}else{%>""<%}%>
								},
								{
									name : "deadLine",
									value : moment(new Date("<%= row.deadLine %>")).format("<%= sails.config.appconfig.format.datetime %>")
								}
							]
						},
					<% }) %>
					],
				},
				parentSelector : "table.table",
				sort : "<%= sort %>",
				controller : "<%= req.session.location.controller %>",
				_csrf : "<%= _csrf %>"
	 		}));
		};

		var initCalendar = function(){
			$("button.calendar")
			.text("liste")
			.one("click", initList);
			section.html(JST["assets/templates/calendar/calendar.ejs"]({}));
		};

		initCalendar();
	};

	window.addEventListener("load", documentLoaded);
	<% if(false === res.locals.layout){ %>
		documentLoaded();
	<% } %>
</script>