<%
	var id = req.session.location.controller + "-" + req.session.location.action;

	var title = "Fiche ";
	if(work.type.name == "installation"){
		title+="d'";
	}
	else{
		title+="de "
	}

	if(typeof(session) == typeof(undefined)){
		var session = {};
	}
	title += work.type.name;
	
%>

<div class="container">
	<div id="<%= id %>">
		<h3><%= title %></h3>

		<form class="form-inline" role="form"> 
			<fieldset class="row">
				<label class="col-sm-2">Client</label>
				<div class="form-group col-sm-8">
					<div class="input-group col-sm-12">
						<label class="input-group-addon" for="brand" >Enseigne</label>
						<input disabled class="form-control" type="text" id="brand" name="brand" value="<%= work.shop.brand || '' %>">
					</div>
				</div>
			</fieldset>
			<fieldset class="row">
				<div class="form-group col-sm-offset-2 col-sm-8">
					<div class="input-group col-sm-12">
						<label class="input-group-addon" for="name" >Nom</label>
						<input disabled class="form-control" type="text" id="name" name="name" value="<%= work.shop.name || '' %>">
					</div>
				</div>
				<label class="col-sm-2"><a href="/shop/show/<%= work.shop.id %>" class="btn btn-default">Fiche magasin</a></label>
			</fieldset>
			<fieldset class="row">
				<div class="form-group col-sm-offset-2 col-sm-8">
					<div class="input-group col-sm-12">
						<label class="input-group-addon" for="rendezvous" >Rendez-vous</label>
						<input disabled class="form-control" type="text" id="rendezvous" name="rendezvous" value=""  data-date-format="<%= sails.config.appconfig.format.datetime %>" readonly autocomplete="off" >
					</div>
				</div>
			</fieldset>

			<hr/>

			<fieldset class="row">
				<label class="col-sm-2">Instruction</label>
				<div class="form-group col-sm-10">
					<div class="input-group col-sm-12">
						<div class="form-control" id="wiki_<%= work.wiki[0].id %>" data-wiki-id="<%= work.wiki[0].id %>" name="wiki_<%= work.wiki[0].id %>"><%- work.wiki[0].description %></div>
					</div>
				</div>
			</fieldset>

			<% if(work.worker.length){%>

				<hr/>
				<fieldset id="worker"></fieldset>
				
			<%}%>

			<hr/>
			
			<fieldset id="element"></fieldset>
			

			<% if(work.material.length){%>

				<hr/>
				<fieldset id="material"></fieldset>

			<%}%>

			<hr/>

			<fieldset id="signature"></fieldset>			

			<% if(!work.closedAt){%>
				<hr/>
				<fieldset class="row">
					<label class="col-sm-2">Travail terminé</label>
					<div class="form-group col-sm-10">
						<div class="col-sm-5">
						<button class="btn btn-primary finishWork disabled" >
							travail terminé
						</button>
						</div>
						<div class="input-group col-sm-6">
						<blockquote class="blockquote">Ajouter un wiki si le travail n'est pas terminé, expliquer la cause.</blockquote>
						</div>
					</div>
				</fieldset>
			<%}%>

			<% if(!work.closedAt){%>
				<hr/>

				<fieldset class="row">
					<label class="col-sm-2">Wiki</label>
					<div class="form-group col-sm-10">
						<div class="col-sm-5">
							<button class="btn btn-default addWiki" >
								<i class="fa fa-file-text-o"></i>&nbsp; Ajouter un wiki
							</button>
							<button class="btn btn-primary saveWiki hide" >
								Enregistrer les wikis
							</button>
						</div>
						<div class="input-group col-sm-6">
							<blockquote class="blockquote">Ajouter un wiki <br/>pour documenter les travaux réalisés, constatation, cause, action prise, remarques...</blockquote>
						</div>
					</div>
				</fieldset>
			<%}%>
			<% 
				var wikis = work.wiki.slice(0);
				wikis.shift();
				if(wikis.length){ %>
					<hr/>
				<%}
				wikis.reverse().map(function(wiki, n){ %>
					<fieldset class="row">
						<% if(work.closedAt && n==0){%>
							<label class="col-sm-2">Wiki</label>
							<div class="form-group col-sm-8">
						<% } else{ %>
							<div class="form-group col-sm-offset-2 col-sm-8">
						<% }%>
							<div class="input-group col-sm-12">
								<label class="input-group-addon" for="wiki_<%= wiki.id %>" ><%= wiki.name %></label>
								<div class="form-control" id="wiki_<%= wiki.id %>" data-wiki-id="<%= wiki.id %>" name="wiki_<%= wiki.id %>"><%- wiki.description %></div>
							</div>
						</div>
						<label class="col-sm-2"><button class="btn btn-danger deleteWiki">Supprimer</button></label>
					</fieldset>
				<%})
			%>

			<% if(work.closedAt){%>
				<hr/>
				<fieldset class="row">
					<label class="col-sm-2">Document(s)</label>
					<div class="form-group col-sm-10">
						<div class="col-sm-5">
						<button class="btn btn-primary printwork" >
							Imprimer la fiche
						</button>
						</div>
					</div>
				</fieldset>
			<%}%>


	</div>
</div>

<script type="text/javascript">

	var  documentLoaded = function (){

		window.work = JSON.parse(_("<%=JSON.stringify(work) %>").unescape().replace(/\n|\\/g, ""));
		window.materials = JSON.parse(_("<%=JSON.stringify(materials) %>").unescape().replace(/\n|\\/g, ""));
		window.workers = JSON.parse(_("<%=JSON.stringify(workers) %>").unescape().replace(/\n|\\/g, ""));


		$(".printwork").on("click", function(){
			BUREAU.tools.api({
				url : "/work/print/<%= work.id %>",
				type : "GET",
			})
			.done(function(data){
				window.open(window.location.protocol+"//"+window.location.host+"/"+data.url);
			});
			return false;
		});

		$("button.finishWork").on("click", function(){
			if(_.isEmpty($("#client-name").val())){
				$("#client-name").parent().addClass("has-error");
				return false;
			}
			if(_.isEmpty($("#adf-name").val())){
				$("#adf-name").parent().addClass("has-error");
				return false;
			}

			signaturePad.send()
			.done(function(client, adf){
				var data = {
					_csrf : "<%= _csrf %>",
					closedAt : moment().toISOString(),
					signature_client : {
						name : $("#client-name").val(),
						signature : client[0][0].src
					},
					signature_adf : {
						name : $("#adf-name").val(),
						signature : adf[0][0].src
					}
				}

				$.ajax({
					url: "/work/update/"+work.id,
					type: "PUT",
					data: data
				})
				.done(function(data){
					console.log(data);
				})
				.fail(function(data){
					console.warn(data);
				});

			})
			.fail(function(data){
				console.warn(data);
			});
			return false;
		})

		$("#rendezvous").datetimepicker({
			icons: {
				time: "fa fa-clock-o",
				date: "fa fa-calendar",
				up: "fa fa-arrow-up",
				down: "fa fa-arrow-down"
			},
			language : "fr",
			defaultDate : moment(work.rendezvous)
		});

		
		$("button.deleteWiki").on("click", function(){
			if(prompt("Ecris SUPPRIMER pour confirmer") == "SUPPRIMER"){
				$(this)
				.parent()
				.parent()
				.remove();
				$("button.saveWiki").removeClass("hide").addClass("fix");
			}
			return false;
		})

		$("button.saveWiki").on("click", function(){
			var wikis = [ $(	$("[id^=wiki_]")
								.toArray()
								.shift()
							)
							.attr("data-wiki-id")
						]
						.concat(	$("[id^=wiki_]")
									.toArray()
									.slice(1)
									.reverse()
									.map(function(wiki){
										return $(wiki).attr("data-wiki-id");
									}))
						.concat(	$("[id^='new_wiki_']")
									.toArray()
									.reverse()
									.map(function(wiki){
										var editor = CKEDITOR.instances[$(wiki).find("textarea").attr("name")];
										return {
											name : $(wiki).find("[name='name']").val(),
											description : editor.innerHTML,
											author : "<%= session.worker ? session.worker.id : ''  %>" || null
										}
									})
						);
			
			BUREAU.tools.api({
				url : "/work/update/<%= work.id %>",
				type : "PUT",
				data : {
					wiki : 	wikis,
					_csrf : "<%= _csrf %>"
				}
			})
			.done(function(data){
				window.location.href = window.location.href;
			});

			return false;
		});
		_.uniqueId('new_wiki_');
		$("button.addWiki").on("click", function(){
			$("button.saveWiki").removeClass("hide");
			$(this)
			.parent()
			.parent()
			.parent()
			.after(JST["assets/templates/forms/wiki.ejs"]({
				id : _.uniqueId('new_wiki_'),
				_csrf : "<%= _csrf %>"
			}));
			return false;
		});


		$("#element").append(JST["assets/templates/forms/element.ejs"]({
			_csrf : "<%= _csrf %>",
			show : true
		}));

		$("#material").append(JST["assets/templates/show/material.ejs"]({
			work : work,
			materials : materials,
			_csrf : "<%= _csrf %>",
			show : true
		}));

		$("#signature").append(JST["assets/templates/show/signature.ejs"]({
			work : work,
			_csrf : "<%= _csrf %>",
			author_id : "<%= session.worker ? session.worker.id : '' %>",
			complete : function(){
				$(".finishWork").removeClass("disabled");
			},
			uncomplete : function(){
				$(".finishWork").addClass("disabled");
			}
		}));

		$("#worker").append(JST["assets/templates/forms/worker.ejs"]({
			work : work,
			workers : workers,
			_csrf : "<%= _csrf %>",
			show : true
		}));
		
	};

	window.addEventListener("load", documentLoaded);
	<% if(false === res.locals.layout){ %>
		documentLoaded();
	<% } %>

</script>