<%
	var id = req.session.location.controller + "-" + req.session.location.action;

	var title = "Fiche ";
	if(work.type.name == "installation"){
		title+="d'";
	}
	else{
		title+="de "
	}
	title += work.type.name;
	
%>

<div class="container">
	<div id="<%= id %>">
		<h3><%= title %></h3>

		<form class="form-inline" role="form"> 
			<fieldset class="row">
				<label class="col-sm-2">Client</label>
				<div class="form-group col-sm-8">
					<div class="input-group col-sm-12">
						<label class="input-group-addon" for="brand" >Enseigne</label>
						<input disabled class="form-control" type="text" id="brand" name="brand" value="<%= work.shop.brand || '' %>">
					</div>
				</div>
			</fieldset>
			<fieldset class="row">
				<div class="form-group col-sm-offset-2 col-sm-8">
					<div class="input-group col-sm-12">
						<label class="input-group-addon" for="name" >Nom</label>
						<input disabled class="form-control" type="text" id="name" name="name" value="<%= work.shop.name || '' %>">
					</div>
				</div>
				<label class="col-sm-2"><a href="/shop/show/<%= work.shop.id %>" class="btn btn-default">Fiche magasin</a></label>
			</fieldset>
			<fieldset class="row">
				<div class="form-group col-sm-offset-2 col-sm-8">
					<div class="input-group col-sm-12">
						<label class="input-group-addon" for="rendezvous" >Rendez-vous</label>
						<input disabled class="form-control" type="text" id="rendezvous" name="rendezvous" value="">
					</div>
				</div>
			</fieldset>
			
			<fieldset class="row">
				<div class="form-group col-sm-offset-2 col-sm-10">
					<div class="input-group col-sm-12">
						<label rel="elements" class="input-group-addon" >Element(s)</label>
						<ol id="elements"></ol>
					</div>
				</div>
			</fieldset>
			<hr/>

			<fieldset class="row">
				<label class="col-sm-2">Hommes</label>
				<div class="form-group col-sm-10">
					<div class="input-group col-sm-12">
						<table class="table" data-db-table-name="<%= req.session.location.controller %>" >
							<thead>
								<tr>
									<th data-db-row-name="worker_id">
										Id
									</th>
									<th data-db-row-name="worker_name">
										Nom
									</th>
									<th>
										Travail
									</th>
								</tr>
							</thead>
							<tbody>
							<% 
								work.worker.map(function(worker){
							%>
								<tr data-db-row-name="worker_id" data-db-row-value="<%= worker.id %>">
									<td data-db-row-name="worker_id" data-db-row-value="<%= worker.id %>">
										<%= worker.id %>
									</td>
									<td data-db-row-name="worker_name" data-db-row-value="<%= worker.name %>">
										<%= worker.name %>
									</td>
									<td>
										<%
											var currentWorkerSchedule = _.find(work.schedule, function(schedule){
												return schedule.worker == worker.id && !schedule.stoped
											});
											if(currentWorkerSchedule){ %>
												<button class="btn btn-success schedule" data-worker-id="<%= worker.id %>" data-schedule-id="<%= currentWorkerSchedule.id %>">
													<span class="scheduleStop"><i class="fa fa-stop"></i>&nbsp; Stop</span>
													<span class="scheduleStart"><i class="fa fa-play"></i>&nbsp; Start</span>
												</button>
											<%}
											else{ %>
												<button class="btn btn-default schedule" data-worker-id="<%= worker.id %>" >
													<span class="scheduleStop"><i class="fa fa-stop"></i>&nbsp; Stop</span>
													<span class="scheduleStart"><i class="fa fa-play"></i>&nbsp; Start</span>
												</button>
											<%}
										%>
									</td>
								</tr>
							<%	
								}); 
							%>
							<% if(workers.length > 0){%>
								<tr>
									<td>
										<div class="input-group col-sm-12">
											<label class="input-group-addon" for="workers" >Ajouter</label>
											<select multiple="multiple" id="workers" name="workers">
												<% workers.map(function(worker){%>
													<option value="<%= worker.id %>" name="<%= worker.name.toLowerCase() %>" ><%= worker.name %></option>
												<%})%>
											</select>
										</div>
									</td>
									<td>
										<button class="btn btn-primary addWorkers hide">
											Ajouter
										</button>
									</td>
									<td>
									</td>
								</tr>
							<%}%>
							</tbody>
						</table>
					</div>
				</div>
			</fieldset>
			<hr/>
			<fieldset class="row">
				<label class="col-sm-2">Wiki</label>
				<div class="form-group col-sm-10">
					<div class="input-group col-sm-12">
						<label class="input-group-addon" for="wiki_<%= work.wiki[0].id %>" ><%= work.wiki[0].name %></label>
						<div class="form-control" id="wiki_<%= work.wiki[0].id %>" data-wiki-id="<%= work.wiki[0].id %>" name="wiki_<%= work.wiki[0].id %>"><%- work.wiki[0].description %></div>
					</div>
				</div>
			</fieldset>

			<fieldset class="row">
				<div class="form-group col-sm-offset-2 col-sm-8">
					<div class="input-group btn-group col-sm-12">
						<button class="btn btn-default addWiki" >
							<i class="fa fa-file-text-o"></i>&nbsp; Ajouter un wiki
						</button>
						<button class="btn btn-primary saveWiki hide" >
							Enregistrer les wikis
						</button>
					</div>
				</div>
			</fieldset>

			<% 
				var wikis = work.wiki.slice(0);
				wikis.shift();
				wikis.reverse().map(function(wiki){ %>
					<fieldset class="row">
						<div class="form-group col-sm-offset-2 col-sm-8">
							<div class="input-group col-sm-12">
								<label class="input-group-addon" for="wiki_<%= wiki.id %>" ><%= wiki.name %></label>
								<div class="form-control" id="wiki_<%= wiki.id %>" data-wiki-id="<%= wiki.id %>" name="wiki_<%= wiki.id %>"><%- wiki.description %></div>
							</div>
						</div>
						<label class="col-sm-2"><button class="btn btn-danger deleteWiki">Supprimer</button></label>
					</fieldset>
				<%})
			%>

	</div>
</div>

<script type="text/javascript">

	var  documentLoaded = function (){

		window.work = _("<%=JSON.stringify(work) %>").unescape().replace("\n", "");

		window.work = JSON.parse(work);

		$("#rendezvous").datetimepicker({
			icons: {
				time: "fa fa-clock-o",
				date: "fa fa-calendar",
				up: "fa fa-arrow-up",
				down: "fa fa-arrow-down"
			},
			language : "fr",
			defaultDate : moment(work.rendezvous)
		});

		var $elements = $("ol#elements");
		$elements.empty();
		work.element.map(function(element){
			$elements.append(JST["assets/templates/show/element.ejs"]({element : element}));
		});

		$elements.find("li").on("click", function(){
			window.location.href = "/element/show/"+$(this).attr("id");
			return false;
		});


		$("button.deleteWiki").on("click", function(){
			if(prompt("Ecris SUPPRIMER pour confirmer") == "SUPPRIMER"){
				$(this)
				.parent()
				.parent()
				.remove();
				$("button.saveWiki").removeClass("hide").addClass("fix");
			}
			return false;
		})

		$("button.saveWiki").on("click", function(){
			var wikis = [ $(	$("[id^=wiki_]")
								.toArray()
								.shift()
							)
							.attr("data-wiki-id")
						]
						.concat(	$("[id^=wiki_]")
									.toArray()
									.slice(1)
									.reverse()
									.map(function(wiki){
										return $(wiki).attr("data-wiki-id");
									}))
						.concat(	$("[id^='new_wiki_']")
									.toArray()
									.reverse()
									.map(function(wiki){
										return {
											name : $(wiki).find("[name='name']").val(),
											description : $(wiki).find("textarea").val().trim(),
											author : "<%= session.worker ? session.worker.id : ''  %>" || null
										}
									})
						);
			
			BUREAU.tools.api({
				url : "/work/update/<%= work.id %>",
				type : "PUT",
				data : {
					wiki : 	wikis,
					_csrf : "<%= _csrf %>"
				}
			})
			.done(function(data){
				window.location.href = window.location.href;
			});

			return false;
		});

		$("button.addWiki").on("click", function(){
			$("button.saveWiki").removeClass("hide");
			$(this)
			.parent()
			.parent()
			.parent()
			.after(JST["assets/templates/forms/wiki.ejs"]({
				id : _.uniqueId('new_wiki_')
			}));
			return false;
		});

		$("#workers").multiselect({
			buttonWidth: '100%', 
			includeSelectAllOption: true,
			allSelectedText: 'Tout le monde',
			selectAllText : "Tout le monde",
			nonSelectedText : "Aucun Homme",
			onChange: function(option, checked, select) {
                if(checked){
                	$(".addWorkers").removeClass("hide");
                }
                else{
                	$(".addWorkers").addClass("hide");
                }
            }
		});

		$("button.addWorkers").on("click", function(){
			BUREAU.tools.api({
				url : "/work/update/<%= work.id %>",
				type : "PUT",
				data : {
					worker : 	work.worker.map(function(worker){ 
									return worker.id 
								}).concat($("#workers").val()),
					_csrf : "<%= _csrf %>"
				}
			})
			.done(function(data){
				window.location.reload();
			});
			return false;
		});

		$("button.schedule").on("click", function(){
			var _button = this;
			var scheduleId = $(_button).attr('data-schedule-id');
			var deferred;
			if (typeof scheduleId !== typeof undefined && scheduleId !== false) {
				deferred = BUREAU.tools.api({
					url : "/workSchedule/update/"+scheduleId,
					type : "PUT",
					data : {
						stoped : moment().toISOString(),
						_csrf : "<%= _csrf %>"
					}
				}).done(function(){
					$(_button).removeAttr('data-schedule-id');
				});
			}
			else{
				deferred = BUREAU.tools.api({
					url : "/workSchedule/create",
					type : "POST",
					data : {
						worker : {
							id : $(_button).attr("data-worker-id")
						},
						work : {
							id : "<%= work.id %>"
						},
						started : moment().toISOString(),
						_csrf : "<%= _csrf %>"
					},
				}).done(function(data){
					$(_button).attr('data-schedule-id', data.id);
				});
			}
				
			deferred.done(function(data){
				$(_button)
				.toggleClass("btn-default")
				.toggleClass("btn-success");
			})
			.fail(function(message){
				console.log(message);
			});
			 return false;
		});
	};

	window.addEventListener("load", documentLoaded);
	<% if(false === res.locals.layout){ %>
		documentLoaded();
	<% } %>

</script>