<%
	var id = req.session.location.controller + "-" + req.session.location.action;

	if("undefined" == typeof(element)){
		var element = {};
	}
%>

<div class="container">
	<div id="<%= id %>">
		<h3>Créer un élément frigorifique</h3>

		<hr/>

		<form class="form-inline" role="form" action="/element/create"> 

			<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			<fieldset class="row">
				<label class="col-sm-2">Identification</label>
				<div class="form-group col-sm-4">
					<div class="input-group col-sm-12">
						<label class="input-group-addon" for="serial" >N° de serie</label>
						<input class="form-control" type="text" id="serial" name="serial" value="<%= element.serial || '' %>">
					</div>
				</div>
			</fieldset>
			<fieldset class="row">
				<div class="form-group col-sm-offset-2 col-sm-4">
					<div class="input-group col-sm-12">
						<label class="input-group-addon" for="name" >Nom</label>
						<input class="form-control" type="text" id="name" name="name" value="<%= element.name || '' %>">
					</div>
				</div>
				<div class="form-group col-sm-4">
					<div class="input-group col-sm-12">
						<label class="input-group-addon" for="type" >Type</label>
						<select class="form-control" id="type" name="type">
							<option disabled selected value="">types d'élément frigorique</option>
							<% elementTypes.map(function(elementType){%>
								<option value="<%= elementType.id %>"><%= elementType.name %></option>
							<%})%>
						</select>
					</div>
				</div>
			</fieldset>

			<fieldset class="row">
				<div class="form-group col-sm-offset-2 col-sm-4">
					<div class="input-group col-sm-12">
						<label class="input-group-addon" for="owner" >Propriétaire</label>
						<select class="form-control" id="owner" name="owner">
							<option disabled selected value="">magasins</option>
							<% shops.map(function(shop){%>
								<option value="<%= shop.id %>"><%= shop.brand +' - '+ shop.name %></option>
							<%})%>
						</select>
					</div>
				</div>
			</fieldset>
			
			<hr/>

			<fieldset class="row">
				<label class="col-sm-2"></label>
				<div class="form-group col-sm-3">
					<div class="input-group col-sm-12">
						<button type="submit" name="submit" class="btn btn-default">Enregistrer</button>
					</div>
				</div>
			</fieldset>

		</form>

	</div>
</div>




<script type="text/javascript">
	var  documentLoaded = function (){

		BUREAU.tools.input.focus();

			<% if(shops.length == 1){%>
				$("[name='owner']")
				.attr("disabled", "disabled")
				.find("option")
				.first()
				.removeAttr("selected")
				.next()
				.attr("selected", "selected");
			<%} %>

			$("form")
			.on("submit", function(event){
				try{

					BUREAU.tools.form.submitWaiter.start(event.target.submit);

					var data = {
						_csrf : event.target._csrf.value,
						serial : (event.target.serial.value || "").trim(),
						name : (event.target.name.value || "").trim(),
						type : event.target.type.value || null,
						owner : event.target.owner.value || null
					};

					if(!data.group){
						delete data.group;
					}
					if(!data.owner){
						delete data.owner;
					}

					BUREAU.tools.api({
						url : event.target.action,
						type : "POST",
						data : data,
					})
					.done(function(data){
						<% if(shops.length == 1){%>
							window.location = "/shop/edit/<%= shops[0].id %>";
						<% } else {%>
							window.location = "/element/index/"+data.id;
						<% } %>
					})
					.fail(function(message){
						BUREAU.tools.form.submitErrorHandler(message);
						BUREAU.tools.form.submitWaiter.stop(event.target.submit);
					});

					return false;
				}
				catch(e){
					console.error(e);
					console.error("ERROR");
					return false;
				}
			});

	};

	window.addEventListener("load", documentLoaded);
	<% if(false === res.locals.layout){ %>
		documentLoaded();
	<% } %>
</script>
