<div id="<%= id %>">
	<fieldset class="row">
	<% if (id.match(/_1$/)){%>
		<label class="col-sm-2">Wiki</label>
		<div class="form-group col-sm-8">
	<% }
	else {%>
		<div class="form-group col-sm-offset-2 col-sm-8">
	<% }%>
			<div class="input-group col-sm-12">
				<label class="input-group-addon" for="name_<%= id %>" >Name</label>
				<input class="form-control" type="text" id="name_<%= id %>" name="name" value="<%= name || '' %>" autocomplete="off">
			</div>
		</div>
		<label class="col-sm-2"><button class="btn btn-danger deleteWiki">Supprimer</button></label>
	</fieldset>
	<fieldset class="row">
		<div class="form-group col-sm-offset-2 col-sm-8">
			<div class="input-group col-sm-12">
				<form id="uploadForm" enctype="multipart/form-data" class="hide"  action="/file/upload" method="post">
    				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
    				<input type="hidden" name="author" value="<%= typeof(author) != typeof(undefine) ? author.id : '' %>" />
    				<input type="file" id="take-picture" name="avatar" accept="image/*"/>
				</form>

				<label class="input-group-addon" for="description_<%= id %>" >Description</label>
				<textarea class="form-control ckeditor" id="description_<%= id %>" name="description_<%= id %>" required></textarea>
			</div>
		</div>
	</fieldset>	
</div>


<script type="text/javascript">

	var initEditor = function(){
		$("#description_<%= id %>").ckeditor();
		var editor  = CKEDITOR.instances["description_<%= id %>"];
		editor.innerHTML="";
		editor.ui
		.addButton( 'PicturePicker', {
			label: 'Ajouter une image',
			command: 'picturePicking',
			icon: '/js/ckeditor/image_b.png'
		} );
		editor
		.addCommand('picturePicking', { 
			exec: function(){
				$("#take-picture").click()
			} 
		});
		editor.on('change', function(data){
			editor.innerHTML = data.editor.document.$.body.innerHTML.replace(/'=\"\"/g, "").replace(/\"/g,"'");
		});
	};

	var savePicture = function () {
		// Get a reference to the taken picture or chosen file
		$form = $("#uploadForm");
		$.ajax({
			url: $form.attr("action"),
			type: $form.attr("method"),
			data: new FormData($form[0]), // TAKE CARE TO PUSH ALL TEXTS PARAMETER BEFORE PICTURES
			cache: false,
			contentType: false,
			processData: false
		})
		.done(function(files){
			files.map(function(file){
				var editor =
				CKEDITOR.instances[
					$form
					.parent()
					.find("textarea")
					.attr("name")
				]
				if(editor){
					var element = CKEDITOR.dom.element.createFromHtml( "<img src='"+file.src+"'' style='max-width:100%;max-height:300px;'/>" );
					editor.insertElement( element );
				}
			});
		})
		.fail(function(data){
			console.warn(data);
		});
	};

	var deleteWiki = function(){
		if(prompt("Ecris SUPPRIMER pour confirmer") == "SUPPRIMER"){
			CKEDITOR.remove(CKEDITOR.instances["description_<%= id %>"]);
			$(this)
			.parent()
			.parent()
			.parent()
			.remove();
			if(!$("[id^='new_wiki_']").length && !$("button.saveWiki").hasClass("fix")){
				$("button.saveWiki").addClass("hide");
			}
		}
		return false;
	};

	$("#<%= id %> .deleteWiki").one("click", deleteWiki);
	$("#take-picture").on("change", savePicture);
	initEditor();
</script>

 
                    