<div id="content">
	<div id="siteNotice"></div>
	<div id="bodyContent">
		<address>
			<strong><%= shop.name %></strong><br>
			<%= shop.addres %><br>
			<%= shop.city %>, <%= shop.zipcode %><br>
			<%= shop.country %><br>
		</address>
		<a href="#">Naviguer vers</a>
	</div>
</div>